select,
input,
textarea {
  &:focus {
    @include box-shadow(0 0 4px 1px rgba(lighten($orange, 15%), 0.3));
    outline: 1px solid lighten($orange, 15%);
  }
}

fieldset {
  margin-left: 0;
  margin-right: 0;
  padding: ($vert-spacing-unit / 2) $horz-spacing-unit $vert-spacing-unit $horz-spacing-unit;

  border-color: $light-grey;
}

legend {
  @include font-size(18px);
  padding: 0 0.8em;
  color: $mid-grey;
}

.free-report-form h2 {
  display:none;
}

.call-form .field--name-body p {
    margin-top: 0%;
    color:#fff;
}

.l-region--sidebar-second form#webform-client-form-16 input[type="submit"], .l-region--sidebar-second form#webform-client-form-16 input[type="button"], .l-region--sidebar-second form#webform-client-form-16 input[type="reset"] {
   color: #FFF;
   text-shadow: none;
   font-size: 15px;
   /* width: 270px; */
   height: 4em;
   margin-top: 1em;
   margin-bottom: 4em;
   margin-left: 15px;
   background-color: #FF4500;
   background-image: none;
}

form#webform-client-form-16 .webform-component--name{
    margin-left:10%;
    width: 80%;
}

form#webform-client-form-16 .webform-component--email{
    margin-left:10%;
    width: 80%;
}

form#webform-client-form-16 .webform-component--phone{
    margin-left:10%;
    width: 80%;
}

form#webform-client-form-16 .webform-component--message{
    margin-left:10%;
    width: 80%;
}

.call-form form#webform-client-form-16{
   margin: 0 10%;
}

input[type='submit']{
    margin-left: auto;
}

/* form 31 */

.free-report-form{
    height: 12em;
}

form#webform-client-form-31 .webform-component--name{
    margin-left:5%;
    width: 50%;
}

form#webform-client-form-31 .webform-component--email{
    margin-left:5%;
    width: 50%;
}

form#webform-client-form-31 .webform-component--phone{
    margin-left:5%;
    width: 50%;
}

form#webform-client-form-31 .webform-component--message{
    margin-left:5%;
    width: 50%;
}

.call-form form#webform-client-form-31{
   margin: 0 5%;
}

input[type='submit']{
    margin-left: auto;
}

form#webform-client-form-31 input[type="submit"]{
    color: #FFF;
    text-shadow: none;
    font-size: 15px;
    background-color: #FF4500;
    background-image: none;
    border-radius: 11px;
    float: right;
    width: 270px;
    height: 80px;
    margin: -120px 15px 20px;
}

/* form 14 */

.contact-us{
    height: 12em;
}

form#webform-client-form-14 .webform-component--name{
    margin-left:5%;
    width: 50%;
}

form#webform-client-form-14 .webform-component--email{
    margin-left:5%;
    width: 50%;
}

form#webform-client-form-14 .webform-component--phone{
    margin-left:5%;
    width: 50%;
}

form#webform-client-form-14 .webform-component--message{
    margin-left:5%;
    width: 50%;
}

.call-form form#webform-client-form-14{
   margin: 0 5%;
}

input[type='submit']{
    margin-left: auto;
}

form#webform-client-form-14 input[type="submit"]{
    color: #FFF;
    text-shadow: none;
    font-size: 15px;
    background-color: #FF4500;
    background-image: none;
    border-radius: 11px;
    float: right;
    width: 220px;
    height: 80px;
    margin: -120px 15px 20px;
}