/**
 * $ACTION-LINKS
 */
.action-links {
  @extend %hlist;
  margin-bottom: $vert-spacing-unit;

  li {
    padding-left: 16px;

    

    a {
      color: $mid-blue;
      text-decoration: none;

      &:hover {
        font-weight: 700;
      }
    }
  }
}
