.l-region--navigation{
   background-color: #24435E;
   height: 60px;
   height: 60px;
   border-radius: 11px;
}

.region-menu ul{
    float: left;
    color: #fff;
}
ul.menu {
    border: medium none;
    list-style: none none none;
    text-align: left;
}
ul.menu li{
    float:left;
    margin-left: 1em;
}

ul.menu li a{
   color:#fff;
}

.menu {
    margin: 0px;
    padding: 0px;
}
ul {
    list-style: none outside none;
    font-size: 15px;
    line-height: 1.7;
}