p, pre{
	margin-top:0px;
	margin-bottom:0px;
}

h3 {
	font-size: 0.83em;
	margin: 2.5em 2% 0em;
}

.node__content h3{
	margin: 2.5em 2% 0em;
	color: #9f5d41;
}

.page-node-35 .node__content h3{
	margin: 2.5em 2% 1em;
	color:#000;
}

.map h3{
    font-size: 1.2em;
	text-align:center;
	color: #9f5d41;
	margin-bottom:1em;
}