// Import external libraries.
@import "compass/css3/deprecated-support";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../base/**/*";
@import "../../components/**/*";

.l-page{
  margin: 0 auto;
  @include breakpoint($tab,true) {
    width:$tab;
  }

  @include breakpoint($desk,true) {
    width:$desk;
  }
}

// Branding is part of header
.l-branding{
  // margin:0em;
  height: auto;
  @include clearfix;
  padding:0em;
}

// Banner is part of branding
.block--block-38{
  max-width:100%;
  display:block;
  margin:0em;
}

.l-main{
   @include clearfix;
}

.l-content{
  @include clearfix;
}

.l-content-home{
  background-color: #fce7ca;
  height: 13em;
}

// Tide Mill - tablet and desk only
    body.front .block--block-39{
      display:none;
    }   
h1{
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  background-color: #00008B;
  color: #ffffff;
  height: 1.8em;
  padding: 0.5em;
}

ul.breadcrumb{
  display:none;
}

.field--name-body p {
   margin: 0% 5%;
   font-size:0.9em;
   line-height:1.2;
}

.footer p {
   margin: 0% 5%;
}

@include breakpoint($tab,true) {
    
    /*
    .node--page{
      @include grid-span(12,1);
   }
    */

   body.front .l-region--branding img {
    display:none;
   }

    // Tide Mill - tablet and desk only
    body.front .block--block-39{
      display:block;
    }

  .view-previous-meetings li.views-row {
     display: block;
     float: left;
     padding:0px;
     width: 250px;
     margin-bottom: 11px;
     text-decoration:none;
     margin-left: 108px;
    }     
  }


  /*
  .view-previous-meetings .view-content  li.column {
  width: 250px;
  margin-left: 5px;
  clear: left;  
}
 
 .view-press .view-content li.column span {
   font-weight: bold;
   font-size: 15px;
 }
 
  .view-press .view-content li span {
   font-weight: bold;
   font-size: 15px;
 }
 
 .view-press  .views-field-field-press-image{
   margin-top: 10px;
 }
 

 */
 