// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";



.l-region--sidebar-first{
background-color:#ccc;
}



.field--name-body p {
margin: 5% 5%;
}

.l-header{
@include clearfix;
}

.l-branding{
width:100%;
height: 100px;
display:block;
}

.l-region--sidebar-first{
display: none;   
}

.l-main{
@include clearfix;
}

.footer p{
margin: 0% 5%;
}

@include breakpoint(44em,true){
width:44em;
.field--name-body p {
margin: 5% 5%;
}

.l-region--sidebar-first{
@include grid-span(5,1);
display:block;
}

/*
.l-region--navigation{
@include clearfix;
}
*/
.node--page{
@include grid-span(7,6);
}

h1 {
display:none;
}

.footer p {
margin: 0% 5%;
}
}

@include breakpoint(70em){
width:70em;
}

