/* line 34, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../../../behaviors/box-sizing/boxsizing.php'); }

/* line 36, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../../../behaviors/box-sizing/boxsizing.php'); }

/* line 4, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto; }

/* No files to import found in ../../abstractions/**\/* */
/* line 1, ../../../sass/base/_lists.scss */
.menu .leaf {
  list-style-type: none;
  list-style-image: none; }

/* line 1, ../../../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../../../sass/base/_typography.scss */
p, pre {
  margin-top: 0px;
  margin-bottom: 0px; }

/* line 6, ../../../sass/base/_typography.scss */
h3 {
  font-size: 0.83em;
  margin: 2.5em 2% 0em; }

/* line 11, ../../../sass/base/_typography.scss */
.node__content h3 {
  margin: 2.5em 2% 0em;
  color: #9f5d41; }

/* line 16, ../../../sass/base/_typography.scss */
.page-node-35 .node__content h3 {
  margin: 2.5em 2% 1em;
  color: #000; }

/* line 21, ../../../sass/base/_typography.scss */
.map h3 {
  font-size: 1.2em;
  text-align: center;
  color: #9f5d41;
  margin-bottom: 1em; }

/* line 36, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../../../behaviors/box-sizing/boxsizing.php'); }

/* line 4, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto; }

/* No files to import found in ../../abstractions/**\/* */
/* line 1, ../../../sass/base/_lists.scss */
.menu .leaf {
  list-style-type: none;
  list-style-image: none; }

/* line 1, ../../../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../../../sass/base/_typography.scss */
p, pre {
  margin-top: 0px;
  margin-bottom: 0px; }

/* line 6, ../../../sass/base/_typography.scss */
h3 {
  font-size: 0.83em;
  margin: 2.5em 2% 0em; }

/* line 11, ../../../sass/base/_typography.scss */
.node__content h3 {
  margin: 2.5em 2% 0em;
  color: #9f5d41; }

/* line 16, ../../../sass/base/_typography.scss */
.page-node-35 .node__content h3 {
  margin: 2.5em 2% 1em;
  color: #000; }

/* line 21, ../../../sass/base/_typography.scss */
.map h3 {
  font-size: 1.2em;
  text-align: center;
  color: #9f5d41;
  margin-bottom: 1em; }

/* line 12, ../../../sass/layouts/both-sidebars/both-sidebars.layout.scss */
ul.breadcrumb {
  display: none; }

/* line 16, ../../../sass/layouts/both-sidebars/both-sidebars.layout.scss */
h2 {
  font-size: 2em; }

/* line 20, ../../../sass/layouts/both-sidebars/both-sidebars.layout.scss */
.l-region--sidebar-first {
  display: none; }

/* line 24, ../../../sass/layouts/both-sidebars/both-sidebars.layout.scss */
.l-region--sidebar-second {
  display: none; }

/* line 28, ../../../sass/layouts/both-sidebars/both-sidebars.layout.scss */
.contact-details {
  display: none; }

/* line 32, ../../../sass/layouts/both-sidebars/both-sidebars.layout.scss */
.l-page {
  margin: 0 auto;
  width: 44em; }
  /* line 39, ../../../sass/layouts/both-sidebars/both-sidebars.layout.scss */
  .l-page .contact-details {
    display: block; }
  /* line 43, ../../../sass/layouts/both-sidebars/both-sidebars.layout.scss */
  .l-page .l-region--sidebar-first {
    width: 48.93617%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    display: block; }
  /* line 48, ../../../sass/layouts/both-sidebars/both-sidebars.layout.scss */
  .l-page .l-main {
    margin-top: 10px; }
  /* line 52, ../../../sass/layouts/both-sidebars/both-sidebars.layout.scss */
  .l-page .l-content {
    width: 40.42553%;
    float: left;
    margin-right: -100%;
    margin-left: 25.53191%;
    clear: none; }
  /* line 56, ../../../sass/layouts/both-sidebars/both-sidebars.layout.scss */
  .l-page .l-region--sidebar-second {
    width: 48.93617%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    display: block; }
  /* line 61, ../../../sass/layouts/both-sidebars/both-sidebars.layout.scss */
  .l-page .l-region--postscript {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    display: block; }
  /* line 66, ../../../sass/layouts/both-sidebars/both-sidebars.layout.scss */
  .l-page h1, .l-page h2 {
    display: none; }
  /* line 70, ../../../sass/layouts/both-sidebars/both-sidebars.layout.scss */
  .l-page .l-region--navigation {
    background-color: #24435e; }

/*# sourceMappingURL=both-sidebars.layout.no-query.css.map */
