@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";


@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../base/**/*";
@import "../../components/**/*";

h1{
  font-size:2em;
}

.contact-details{
   display:none;
}

.l-page{
  margin: 0 auto;

  @include breakpoint($tab,true) {
    width: $tab;
  }

  @include breakpoint($desk,true) {
    width: $desk;
  }
}

@include breakpoint($tab,true){
  .l-content {
    @include grid-span(12,1)
    .contact-details{
      display:block;
   }
  }
}

@include breakpoint($desk,true){

  .l-content {
    @include grid-span(12,1)
  }
}