
.l-region--navigation {
    @include clearfix;
}

.sf-menu li {
   width: 8.5em;
}
.sf-menu.sf-style-light-blue li:hover, .sf-menu.sf-style-light-blue li.sfHover, .sf-menu.sf-style-light-blue a:focus, .sf-menu.sf-style-light-blue a:hover, .sf-menu.sf-style-light-blue a:active, .sf-menu.sf-style-light-blue span.nolink:hover, .sf-menu.sf-style-light-blue.sf-navbar li li {
    background: none repeat scroll 0% 0% #B5D8FA;
    color: #001020;
}