/* line 34, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/singularitygs-1.1.2/stylesheets/singularitygs/helpers/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../../../behaviors/box-sizing/boxsizing.php'); }

/* line 36, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_box-sizing.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../../../behaviors/box-sizing/boxsizing.php'); }

/* line 4, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_fluid-media.scss */
img, video {
  max-width: 100%;
  height: auto; }

/* No files to import found in ../../abstractions/**\/* */
/* line 1, ../../../sass/base/_lists.scss */
.menu .leaf {
  list-style-type: none;
  list-style-image: none; }

/* line 1, ../../../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../../../sass/base/_typography.scss */
p, pre {
  margin-top: 0px;
  margin-bottom: 0px; }

/* line 6, ../../../sass/base/_typography.scss */
h3 {
  font-size: 0.83em;
  margin: 2.5em 2% 0em; }

/* line 11, ../../../sass/base/_typography.scss */
.node__content h3 {
  margin: 2.5em 2% 0em;
  color: #9f5d41; }

/* line 16, ../../../sass/base/_typography.scss */
.page-node-35 .node__content h3 {
  margin: 2.5em 2% 1em;
  color: #000; }

/* line 21, ../../../sass/base/_typography.scss */
.map h3 {
  font-size: 1.2em;
  text-align: center;
  color: #9f5d41;
  margin-bottom: 1em; }

/* line 13, ../../../sass/layouts/right-sidebar/right-sidebar.layout.scss */
.l-page {
  margin: 0 auto; }
  @media (min-width: 44em) {
    /* line 13, ../../../sass/layouts/right-sidebar/right-sidebar.layout.scss */
    .l-page {
      width: 44em; } }
  @media (min-width: 70em) {
    /* line 13, ../../../sass/layouts/right-sidebar/right-sidebar.layout.scss */
    .l-page {
      width: 70em; } }

/* line 25, ../../../sass/layouts/right-sidebar/right-sidebar.layout.scss */
.l-branding {
  height: auto;
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  padding: 0em; }
  /* line 47, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_clearfix.scss */
  .l-branding:before, .l-branding:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  /* line 55, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_clearfix.scss */
  .l-branding:after {
    clear: both; }

/* line 33, ../../../sass/layouts/right-sidebar/right-sidebar.layout.scss */
.block--block-38 {
  max-width: 100%;
  display: block;
  margin: 0em; }

/* line 39, ../../../sass/layouts/right-sidebar/right-sidebar.layout.scss */
.l-main {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1; }
  /* line 47, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_clearfix.scss */
  .l-main:before, .l-main:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  /* line 55, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_clearfix.scss */
  .l-main:after {
    clear: both; }

/* line 43, ../../../sass/layouts/right-sidebar/right-sidebar.layout.scss */
.l-content {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1; }
  /* line 47, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_clearfix.scss */
  .l-content:before, .l-content:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  /* line 55, ../../../../../../../../../../.rvm/gems/ruby-1.9.3-p484@global/gems/toolkit-1.3.8/stylesheets/toolkit/_clearfix.scss */
  .l-content:after {
    clear: both; }

/* line 47, ../../../sass/layouts/right-sidebar/right-sidebar.layout.scss */
h1 {
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  background-color: #00008B;
  color: #ffffff;
  height: 1.8em;
  padding: 0.5em; }

/* line 57, ../../../sass/layouts/right-sidebar/right-sidebar.layout.scss */
ul.breadcrumb {
  display: none; }

/* line 61, ../../../sass/layouts/right-sidebar/right-sidebar.layout.scss */
.l-region--sidebar-second {
  display: none; }

/* line 65, ../../../sass/layouts/right-sidebar/right-sidebar.layout.scss */
.field--name-body p {
  margin: 1em 2%;
  font-size: 0.9em;
  line-height: 1.3; }

/* line 71, ../../../sass/layouts/right-sidebar/right-sidebar.layout.scss */
.footer p {
  margin: 1% 2%; }

/* line 75, ../../../sass/layouts/right-sidebar/right-sidebar.layout.scss */
.meeting {
  margin-top: 2em; }

/* line 79, ../../../sass/layouts/right-sidebar/right-sidebar.layout.scss */
.member {
  margin-top: 2em; }

/* line 83, ../../../sass/layouts/right-sidebar/right-sidebar.layout.scss */
.video-container, .map-container {
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 1em;
  padding-top: 2em;
  margin-right: 2%;
  height: 0;
  overflow: hidden; }

/* line 93, ../../../sass/layouts/right-sidebar/right-sidebar.layout.scss */
.video-container iframe, .map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media (min-width: 44em) {
  /* line 104, ../../../sass/layouts/right-sidebar/right-sidebar.layout.scss */
  body.front .l-region--branding img {
    display: none; }

  /* line 108, ../../../sass/layouts/right-sidebar/right-sidebar.layout.scss */
  .l-content {
    width: 48.93617%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none; }

  /* line 112, ../../../sass/layouts/right-sidebar/right-sidebar.layout.scss */
  .l-region--sidebar-second {
    width: 48.93617%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    display: block; } }

/*# sourceMappingURL=right-sidebar.layout.css.map */
