
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../base/**/*";
@import "../../components/**/*";

ul.breadcrumb{
  display:none;
}

h1{
  font-size:2em;
}

h2{
  font-size:2em;
}

.l-region--sidebar-first{
       display:none;
}

.l-region--sidebar-second{
       display:none;
}

.contact-details{
   display:none;
}

.l-region--navigation{
   background-color: #ffffff;
}

.l-page{

  margin: 0 auto;

  @include breakpoint($tab,true) {
    width: $tab;

    .contact-details{
      display:block;
   }

    .l-region--sidebar-first{
       @include grid-span(3,1);
       display:block;
    }

    .l-main{
       margin-top: 10px;
    }

    .l-content{
       @include grid-span(5,4);
    }

    .l-region--sidebar-second{
       @include grid-span(3,10);
       display:block;
    }

    h1,h2 {
        display:none;
    }

    .l-region--navigation { 
       background-color: #24435e;
  }

  @include breakpoint($desk){
    width: $desk; 
  }
}
}