// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";


.field--name-body p {
margin: 5% 5%;
}

.l-header{
@include clearfix;
}

.l-branding {
  width:100%;
  height: 120px;
  display:block;
}

.l-main {
@include clearfix;
}

.footer p {
margin: 0% 5%;
}



