/**
 * $BLOCK-BACKGROUND
 */
 .main-block {
    background-color: #cce6ff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
    left: 0;
    padding: 1em 1.5em;
    top: 30px;
    
}
