
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit";

@import "../../variables/**/*";
@import "../../abstractions/**/*";
@import "../../base/**/*";
@import "../../components/**/*";

h1 {
display:none;
}

ul.breadcrumb {
  display:none;
}

.l-main {
  @include clearfix;
}

.l-content {
  @include clearfix;
}
.l-branding {
  width:100%;
  height: 100px;
  display:block;
}

.l-region--sidebar-second {
    display:none;
}

.field--name-body p {
margin: 5% 5%;
}

.footer p {
   margin: 0% 5%;
}

@include breakpoint($tab){
  width: 40em;
  .l-page {
      @include clearfix;
   }

  .l-content {
    @include grid-span(8,1);
  }

  .l-region--sidebar-second{
    @include grid-span(4,9);
    display:block;
  }

  .field--name-body p {
      margin: 5% 5%;
   } 
}

@include breakpoint($desk,true){  
   .l-page{
      @include clearfix;
   } 
}